///*
// * @file
// * Defines the components for the theme.
// */
//

nav#block-mainnavigation {
  border-bottom: 2px solid var(--clr-main-nav-brd-btm);
}

#block-views-block-news-news-latest  ul.list--hyphen-bullet li p.published-date {
  font-size: 1.5rem;
}

.page-node-type-article {
  .field-site-services {
    display: flex;
    column-gap: 10px;

    .service-label-inline {
      display: inline;
    }
  }
}

.page-node-type-gallery .field--name-field-gallery-images {
  display: flex;
  flex-wrap: wrap;

  .field__item {
    flex-grow: 1;
    max-width: 28%;
    flex: 0 0 33%;
    background: var(--clr-grey-light);
    text-align: center;
    padding: 10px;

    img {
      height: 190px;
      width: 190px;
    }
  }
}

.services {
  display: flex;
  flex-wrap: wrap;

  .columnItem {
    width: 48.75%;
    border: 3px solid #e4eef0;
    padding: 0.9rem 1.2rem 1.2rem;
    margin: 0 11px 2rem 0;

    &:hover,
    &:focus {
      background: #e4eef0;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
}

.footer {
  border-top: 5px solid #008290;
  margin-top: 0;

  .footer-links {
    p, li {
      display: inline-block;
    }
  }
}

