/*
 * @file
 * Defines the components for the theme.
 */


#main-content {
  display: grid;

  .featured-home {
    grid-column: 1 / span 8;
    grid-row: 1 / span 2;

    @media screen and (max-width: 768px) {
      grid-column: 1 / span 12;
    }
  }

  .featured_main {
    a {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #000;
      padding-bottom: 1rem;
      padding: 0rem 2rem;
      text-decoration: none;

      &:focus,
      &:hover {
        border: solid #0e6bb3 2px;

        h3 {
          text-decoration: underline solid 2px #000;
        }
      }
    }

    p.published-date {
      margin: 0;
      color: #000;
    }

    .featured__image {
      width: 100%;
      max-width: 30rem;
      margin-right: 2rem;
      height: auto;
      display: flex;
      align-items: center;
    }

    .featured-title {
      position: relative;
      padding-right: 2rem;
      margin-bottom: 0.5rem;
    }

    .featured__body {
      position: relative;
      flex: 1;
      padding-right: 2rem;
      margin-left: 1rem;
    }
  }

  .featured_content {
    padding-bottom: 2rem;

    a {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #000;
      padding: 0rem 2rem;
      text-decoration: none;

      &:focus,
      &:hover {
        border: solid #0e6bb3 2px;

        h3 {
          text-decoration: underline solid 2px #000;
        }
      }
    }

    p.published-date {
      margin: 0;
      color: #000;
    }


    .featured__image {
      width: 100%;
      max-width: 20rem;
      margin-right: 2rem;
      height: auto;
      display: flex;
      align-items: center;
    }

    .featured-title {
      position: relative;
      padding-right: 2rem;
      margin-bottom: 0.5rem;
    }

    .featured__body {
      position: relative;
      flex: 1;
      padding-right: 2rem;
      margin-left: 1rem;
    }
  }

  .featured-summary-wrapper {
    margin-top: 1rem;

    p {
      font-size: 1.8rem;
      color: #000;
    }
  }

  @media (max-width: 768px) {
    .featured_main a {
      flex-direction: column;
      padding: 1rem;
    }

    .featured__image {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .featured__body {
      margin-left: 0;
    }

    .featured_content a {
      flex-direction: column;
    }

    .featured__image {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .featured__body {
      margin-left: 0;
    }
  }

  #quicklinks {
    grid-column: 9 / span 4;
    padding: 1em 15px 1.5em;
    background-color: var(--clr-grey-light);
    border-top: 5px solid var(--clr-brand-primary);

    @media screen and (max-width: 768px) {
      grid-column: 1 / span 12;
    }

    h2 {
      border-top: none;
    }
  }

  #block-about-us {
    grid-column: 1/span 12;
    border-top: 8px solid var(--clr-main-nav-brd-btm);
  }

  #block-northsouthimplementationbodies {
    grid-column: 1/span 12;
    border-top: 8px solid var(--clr-main-nav-brd-btm);

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        flex-basis: 50%;
        box-sizing: border-box;
      }
    }
  }

  #block-block-publications-homepage-publications-homepage {
    grid-column: 1/span 12;
    border-top: 8px solid var(--clr-main-nav-brd-btm);
  }

  #block-contactus {
    grid-column: 1/span 12;
    border-top: 8px solid var(--clr-main-nav-brd-btm);
  }

  #block-block-site-topics-areas-of-cooperation-homepage {
    grid-column: 1/span 12;
    border-top: 8px solid var(--clr-main-nav-brd-btm);

    .areas-of-cooperation-homepage {
      display: flex;
      flex-wrap: wrap;

      .columnItem {
        flex-basis: 47.75%;
        box-sizing: border-box;
        padding: 0.9rem 1.2rem 1.2rem;
        margin-bottom: 1.8rem;

        h3 {
          margin: 0 0 .3rem;
        }

        p {
          margin: 0;
        }

        &:hover,
        &:focus {
          h3 a {
            text-decoration-thickness: 2px;
            text-decoration-color: #0b1647;
          }
        }
      }
    }
  }
}

.areas-of-cooperation {
  display: flex;
  flex-wrap: wrap;

  .columnItem {
    flex-basis: 48.75%;
    box-sizing: border-box;
    padding: 0.9rem 1.2rem 1.2rem;
    margin: 0 11px 2rem 0;

    h3 {
      margin: 0 0 .3rem;
    }

    p {
      margin: 0;
    }

    &:hover,
    &:focus {
      h3 a {
        text-decoration-thickness: 2px;
        text-decoration-color: #0b1647;
      }
    }

    @media screen and (max-width: 992px) {
      flex-basis: 38%;
    }

    @media screen and (max-width: 576px) {
      flex-basis: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

.footer {
  border-top: 5px solid #008290;

  .nav-menu {
    li {
      display: inline-block;
      margin: .5em .5em .5em 0;
      padding: 0 .5em 0 0;
    }
  }
}
