@use '../init' as *;

// Links
//
// Hyperlinks are used to allow the user to navigate to other resources or to
// download a resource.
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
//
// :visited - A link that has already been visited.
// :hover   - A link that is being hovered over.
// :focus   - A link that has been given keyboard focus.
// :active  - A link that is being actively clicked.
//
// Markup: ../kss-templates/links-a.twig
//
// Style guide: base.link

a,
%link {
  @include link-state-style();

  &:active:not(.button, .btn) {
    // Remove the gray background on active links in IE 10.
    background-color: transparent;
  }
}

//// Any element can receive focus, but only links can be visited, so we can
//// safely lower this selector's specificity. This also ensures visited links
//// with additional styles won't have their styles overridden.
//:visited {
//  color: var(--clr-link-visited);
//}
//
//a:hover,
//a:focus {
//  color: var(--clr-link-hover);
//  text-decoration: underline;
//}
//
//// address 'outline' inconsistency between Chrome and other browsers
//a:focus {
//  outline: thin dotted;
//}
//
//a:active {
//  color: var(--clr-link-active);
//
//  &:not(.button) {
//    // Remove the gray background on active links in IE 10.
//    background-color: transparent;
//  }
//}

a[aria-hidden='true'] {
  @include visually-hidden;
}

// Temp fix for admin toolbar which doesn't set :visited state for links!
.toolbar-tray a:visited {
  color: #565656;
}

$link-skip: (
  color: (
    default: #fff
  ),
  background-color: (
    default: $charcoal
  ),
  text-decoration: (
    default: none,
  ),
  outline: 3px solid #ff0,
  outline-offset: -6px,
  opacity: (
    default: 0,
    hover: 1,
    focus: 1
  ),
  transition: 'opacity .25s'
) !default;

.skip-link {
  @include link-state-style($link-skip);

  text-align: center;

  &::after {
    content: ' ';
    display: inline-block;
    width: 1.5em;
    height: .75em;
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAPCAQAAAC7b6xuAAAAsUlEQVR4AY3LQ2KEURSFwbOU2LbNcTQMd5s1xLaNL7i/0a9rXpJYYpNSOdHINhuSmOcT2KfCERo4B75ZFeeYQ6odwVyIUZ4wx9TmhPogPDAoiUEeMKfUFwyPDMrQzx3mnOZUOEsEQw+3mEvaFKAuEoYURwfXmGs6gnCKebKQQBuXmFt6JGojYVjZaOEcc8eKMxgaOIOAhREVRi0nsTAqN6q5doQ0pnjhL4yreMxylBd+ABWdFyV4bCZyAAAAAElFTkSuQmCC') no-repeat 50% 50%;
    background-size: 1.6rem auto;
  }

  &:focus,
  &:hover {
    display: block;
    padding: .9rem 3.5rem;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media print {
  // Underline all links.
  :link,
  :visited {
    text-decoration: underline;
  }

  // Add visible URL after links.
  a[href]::after {
    content: ' (' attr(href) ')';
    font-weight: normal;
    font-size: var(--fs-base-size);
    text-decoration: none;
  }

  // Only display useful links.
  a[href^='javascript:']::after,
  a[href^='#']::after {
    content: '';
  }
}

a strong,
strong a {
  font-weight: normal !important;
}
