/*
 * @file
 * Sets out the base behaviour of table elements.
 */
@use '../init' as *;

// Tables
//
// The `<table>` element displays tabular data in rows, columns, and cells.
//
// Markup: kss-templates/tables-table.twig
//
// Weight: -1
//
// Style guide: base.table

.table.ck-widget table,
table {
  // Add vertical rhythm margins.
  margin: 1em 0 1.5em;

  // Remove most spacing between table cells.
  border-collapse: collapse;
  border-spacing: 0;

  // Prevent cramped-looking tables.
  width: 100%;

  word-break: normal;

  caption {
    padding: 0 0 .5em;
  }

  p {
    margin: to-rem(9) 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  td,
  th {
    font-size: var(--fs-base-size);
    line-height: 1.5;
    margin: 1em 0 1.5em;
    box-sizing: border-box;
    border: 1px solid var(--clr-table-border);
    padding: to-rem(4) to-rem(4) to-rem(3); // -1px on bottom border to maintain vertical rhythm.
    text-align: left;
    vertical-align: top;

    @include breakpoint($phab, $no-query: true) {
      padding: to-rem(8) to-rem(8) to-rem(7); // -1px on bottom border to maintain vertical rhythm.
    }

    @include breakpoint($tab, $no-query: true) {
      padding: to-rem(9) to-rem(9) to-rem(8); // -1px on bottom border to maintain vertical rhythm.
    }

    & * {
      font-size: inherit;
      line-height: inherit;
    }
  }

  th {
    background-color: var(--clr-brand-primary-light);
  }

  td {
    background-color: #fff;
    height: 100%;
  }

  tr {
    &:nth-child(odd) td {
      background: var(--clr-grey-lightest);
    }

    &:nth-child(even) td {
      background: #fff;
    }
  }
}

.table.ck-widget table {
  margin: 0;
}
