/*
 * @file
 * Provides the layout styles for hseni front page.
 */

@use '../../../../../../../../web/themes/custom/nicsdru_corplite_theme/src/scss/init' as *;

// Front page layout / theme page layout
//
// Weight: -6
//
// Style guide: layouts.front

$link-dark-background: (
  color: #fff,
  background-color: transparent,
  text-decoration: (
    default: underline,
    focus: none,
  ),
  text-decoration-color: #fff,
  text-decoration-thickness: (
    default: 1px,
    hover: 2px,
  ),
  text-underline-offset: 3px,
  outline: (
    default: 0,
    focus: '2px solid #fff',
  ),
  outline-offset: 0
);

.section {
  &--featured-highlights {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

.about-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  background: #044c93;
}

  .about-us-container .text-content {
    color: #fff;
    padding: 2%;

    h2 {
      color: #fff;
    }
}

.about-us-container .image-content {
  padding: 2%;
}

@media (max-width: 768px) {
    .about-us-container {
      flex-direction: column;
      align-items: flex-start;
   }

  .about-us-container .image-content {
      margin-top: 15px;
    }
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: #042f59;

  @include breakpoint($tab) {
    flex-direction: row;
    align-items: center;
  }

  .text-content {
    color: #fff;
    padding: 2%;

    li {
      color: #fff;
    }

    a {
      @include link-state-style($link-dark-background);
    }
  }

  .image-content {
    margin-top: 1.5rem;

    @include breakpoint($tab) {
      margin-top: 0;
    }
  }
}

.organisation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: #044c93;

  @include breakpoint($tab) {
    flex-direction: row;
    align-items: center;
  }

  .text-content {
    color: #fff;
    padding: 2%;

    h2,
    li {
      color: #fff;
    }

    a {
      @include link-state-style($link-dark-background);
    }
  }

  .image-content {
    padding: 2%;
    margin-top: 1.5rem;

    @include breakpoint($tab) {
      margin-top: 0;
    }
  }
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.links-content {
  width: 50%;
}

.address-content {
  width: 40%;
}

@media (max-width: 768px) {
  .links-content, .address-content {
    width: 100%;
    margin-bottom: 20px;
  }
}

#block-featuredcontent-documents,
#block-ourorganisation {
    border-top: #044c93 solid 5px;
}
