/*
 * @file
 * Provides the layout styles for hseni front page.
 */

@use '../../../../../../../../web/themes/custom/nicsdru_corplite_theme/src/scss/init' as *;

// Front page layout / theme page layout
//
// Weight: -6
//
// Style guide: layouts.front

#header_wrapper {
  background: var(--clr-hseni-navy);
}

.main-menu .hamburger:not([hidden])~.nav-main {
  padding: 0 var(--rhythm-spacing-xl);
}

$link-dark-background: (
  color: #fff,
  background-color: transparent,
  text-decoration: (
    default: underline,
    focus: none,
  ),
  text-decoration-color: #fff,
  text-decoration-thickness: (
    default: 1px,
    hover: 2px,
  ),
  text-underline-offset: 3px,
  outline: (
    default: 0,
    focus: '2px solid #fff',
  ),
  outline-offset: 0
);

.section {
  &--featured-highlights {
    margin-top: 2em;

    .card-deck {
      margin-bottom: 0;
    }
  }
}

.about-us-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #042f59 url("/sites/hseni/themes/hseni_theme/images/about-us.jpeg") no-repeat;
  background-position: 115%;
  background-size: 40%;

  @media (max-width: 640px) {
    flex-direction: row;
    align-items: center;
    background: #042f59;
  }

  .text-content {
    padding-left: 2rem;
    width: 65%;
    color: #fff;
    @media (max-width: 640px) {
      width: 100%;
      padding: 2%;
    }

    h2 {
      color: #fff;
    }
  }
}

.about-us-container {
  .first-paragraph {
    font-size: 2.1rem;
    margin: 1rem 0;
  }
}

.contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background: #042f59 url("/sites/hseni/themes/hseni_theme/images/contact-bg.png") no-repeat;
  background-position: right center;
  background-size: 68%;
  background-position: 167% 50%;

  @media (max-width: 640px) {
    flex-direction: row;
    align-items: center;
    background: #042f59;
  }

  .text-content {
    color: #fff;
    padding-left: 2rem;
    max-width: 60%;
    @media (max-width: 640px) {
      max-width: 100%;
      padding: 2%;
    }

    li {
      color: #fff;
    }
  }
}

.profile-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #042f59;
}

.profile-text {
  width: 60%;
  padding: 2%;
}

.profile-photo {
  width: 33%;
}

.profile-photo img {
  width: 100%;
  object-fit: cover;
  display: block;
  line-height: 0;
}

.profile-department {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
      text-decoration-color: #fff;
    }
  }
}

.profile-summary {
  margin-bottom: 1.5rem;
  color: #fff;
}

.profile-links .links-list {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;

  li {
    color: #fff;
  }
}

.profile-links .link-item {
  text-decoration: none;
  color: #fff;
}

.profile-links .link-item:hover {
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  .profile-block {
    flex-direction: column-reverse;
    align-items: center;
  }

  .profile-text {
    width: 100%;
    margin-bottom: 20px;
  }

  .profile-photo {
    width: 100%;
  }
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.links-content {
  width: 50%;
}

.address-content {
  width: 40%;
}

@media (max-width: 768px) {
  .links-content, .address-content {
    width: 100%;
    margin-bottom: 20px;
  }
}

#block-featuredcontent-documents,
#block-homepage-profile {
    border-top: #044c93 solid 5px;
}

.home-block-links {
  a {
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #fff;
    text-underline-offset: 3px;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: #fff;
      text-underline-offset: 3px;
    }
  }

  li {
    color: #fff;
  }
}
