/*
 * @file
 * Provides the styling for book navigation element.
 */
@use '../../init/links/index';
@import '../../init/index';

$link-body-no-visited: (
  color: (
    default: var(--clr-link),
    focus: #fff,
    active: var(--clr-link-active)
  ),
  background-color: (
    default: transparent,
    focus: var(--clr-link),
  ),
  text-decoration: (
    default: underline,
    focus: none,
  ),
  text-decoration-color: (
    hover: var(--clr-charcoal),
  ),
  text-decoration-thickness: (
    default: 1px,
    hover: 2px,
  ),
  text-underline-offset: 3px,
  outline: (
    default: 0,
    focus: '2px solid var(--clr-link)',
  ),
  outline-offset: 0
);

.book-navigation {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: .5em;
  margin: 0;
  background-color: #f0f0f0;

  @include breakpoint($phab) {
    flex-direction: row;
  }

  li {
    margin: 0;
    padding: 0;

    a,
    span {
      @include link-state-style($link-body-no-visited);
      display: inline-block;
      position: relative;
      padding: .5em;

      .ico {
        position: absolute;
        top: calc(50% - .75em);
        width: 1.5em;
        height: 1.5em;
        margin: 0;
      }
    }

    &.page-previous {
      flex: 40%;
      text-align: left;

      .ico {
        left: .5em;
      }

      a {
        padding-left: 4.5rem;
      }
    }

    &.page-next {
      flex: 40%;
      text-align: right;

      .ico {
        right: .5em;
      }

      a {
        padding-right: 4.5rem;
      }
    }

    &.page-up {
      flex: 20%;
      padding: 0 1em;
      text-align: center;
    }
  }
}
