/*
 * @file
 * Provides the layout styles for the main nav.
 */
@use '../../init' as *;
@use 'sass:color';

$link-main-menu: (
  color: '#fff',
  background-color: (
    default: var(--clr-main-nav-bkgd),
  ),
  text-decoration: (
    default: none,
    focus: underline 2px,
    hover: underline 2px
  ),
  text-underline-offset: (
    default: none,
    focus: 4px,
    hover: 4px,
  ),
  box-shadow: (
    default: none,
  ),
  outline: (
    default: 0,
    visited: 0,
  ),
  outline-offset: -.5em,
) !default;
$link-main-menu-horizontal: (
  color: (
    default: var(--clr-white),
  ),
  background: (
    default: var(--clr-main-nav-bkgd),
  ),
  outline: (
    default: none,
    hover: 3px solid var(--clr-white),
    focus: 3px solid var(--clr-white),
  ),
  text-decoration: none,
  text-underline-offset: 0,
) !default;
$link-main-menu-social: (
  outline: (
    default: '0 solid transparent',
    focus: '3px solid #fff',
    hover: '3px solid #fff',
    active: 0
  ),
  transition: 'outline-color .3s',
  text-decoration: none
) !default;
$link-main-menu-active: (
  outline: 2px solid,
) !default;
$link-main-menu-horizontal-active: (
  color: var(--clr-main-nav-active-text),
  background: var(--clr-main-nav-active-bkgd),
  box-shadow: inset 0 -7px 0 0 var(--clr-main-nav-active-line),
  outline: none,
) !default;
$link-sub-menu: (
  color: var(--clr-main-nav-active-text),
  background-color: color-mix(in srgb, var(--clr-main-nav-active-bkgd), white 20%),
) !default;

.main-menu {
  background-color: var(--clr-main-nav-bkgd);
  border-bottom: 2px solid var(--clr-main-nav-brd-btm);
  border-top: 2px solid var(--clr-main-nav-brd-top);
  position: relative;

  @include breakpoint($tab) {
    background-color: var(--clr-main-nav-bkgd);
    border: 0;
  }

  .nav {
    &-main {
      display: flex;
      flex-flow: column nowrap;
      padding: 1rem 0;

      @include breakpoint($tab) {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        max-width: 1130px;
        margin: 0 auto;
        padding: 0;
      }
    }

    &-menu {
      width: 100%;
      margin: 0;
      padding: 0;

      @include breakpoint($tab) {
        display: flex;
        width: auto;
      }
    }

    &-item {
      &.open {
        > ul {
          display: block;
        }

        .menu-toggle-btn {
          background: color-mix(in srgb, var(--clr-main-nav-active-bkgd), white 10%);
          color: var(--clr-main-nav-active-text);

          @include breakpoint($tab) {
            background: var(--clr-main-nav-bkgd);
            color: var(--clr-link);
            text-decoration: underline 3px;
            text-underline-offset: 5px;
          }
        }
      }
    }

    &-link,
    &-item .active {
      --main-nav-fs: 1.6rem;

      @include link-state-style($link-main-menu);

      display: block;
      font-size: var(--main-nav-fs);
      line-height: 2.7rem;
      padding: 1em 1.6rem;

      @include breakpoint($tab) {
        @include link-state-style($link-main-menu-horizontal);

        padding: var(--rhythm-spacing-md) var(--rhythm-spacing-lg);
        margin-right: 3px;
        height: 100%;

        // IE fix.
        // IE does not support outline-offset. So just remove the outline.
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          position: relative;
          outline: none !important;

          &::after {
            content: '';
            display: block;
            width: calc(100% - 16px);
            height: calc(100% - 16px);
            position: absolute;
            left: 8px;
            top: 8px;
          }

          &:hover::after,
          &:focus::after {
            border: 3px solid #fff;
          }
        }
      }

      @include breakpoint($lap) {
        --main-nav-fs: 1.8rem;
      }
    }

    &-item .active {
      @include link-state-style($link-main-menu-active);

      @include breakpoint($tab) {
        @include link-state-style($link-main-menu-horizontal-active)
      }
    }
  }

  .nav-main_sub {
    display: none;
    list-style: none;
    position: static;
    z-index: 9999;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: visible !important;

    @include breakpoint($tab) {
      position: absolute;
    }

    ul {
      margin: 0;
      border: 0;
      left: 100%;
      top: 0;

      @include breakpoint($tab) {
        margin-left: 1px;
      }
    }

    .nav-item {
      float: none;
      min-width: 150px;
      padding: 0;
      margin: 0;
      position: relative;
      width: 100%;
      text-align: left;
      border-right: 0;

      &.open {
        background: var(--clr-main-nav-bkgd);
      }
    }

    .nav-link {
      @include link-state-style($link-sub-menu);

      @include breakpoint($tab) {
        border-top: 1px solid var(--clr-white);
      }
    }
  }

  .hamburger {
    // The hamburger should use a button element for semantics.
    // Set appearance to none and remove some default styling browsers add for buttons.
    appearance: none;
    border: 0;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    top: -6rem;
    left: .7rem;
    z-index: 1;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 3px solid #fff;
      outline-offset: -3px;
    }

    // By default the hamburger has the hidden attribute applied.
    // If JS is enabled, the hidden attribute is removed.
    // @see src/js/main-menu-toggle.js
    // @see templates/block/block--mainnavigation.html.twig.
    &[hidden] {
      display: none;
    }

    // Don't display the hamburger on larger screens.
    @include breakpoint($tab) {
      display: none;
    }

    // Hamburger Lines are added to button using a nested span and pseudo elements.
    & > span {
      position: relative;
      flex: none;
      width: 100%;
      max-width: 3rem;
      height: .3rem;
      background: #fff;
      transition: transform .4s ease;

      /* Hamburger Lines - Top & Bottom */
      &::after,
      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: -.9rem;
        left: 0;
        width: 100%;
        height: .3rem;
        background: inherit;
      }

      /* Moves Line Down */
      &::after {
        top: .9rem;
      }
    }

    // Hamburger lines animate into a X close symbol when menu is opened.
    &[aria-expanded='true'] {
      > span {
        transform: rotate(135deg);

        /* Turns Lines Into X */
        &::before,
        &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }
    }

    // Hamburger X close symbol does partial rotation on hover.
    &[aria-expanded='true']:hover > span {
      transform: rotate(225deg);
    }

    // Show or hide main nav depending on the state of the hamburger.
    // @see src/js/main-menu-toggle.js.
    &:not([hidden]) ~ .nav-main {
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 1s ease;

      // Except on larger screens - the main nav must be shown.
      @include breakpoint($tab) {
        display: flex;
        max-height: 9rem;
      }
    }

    // Show main nav when the hamburger aria-expanded attribute is true.
    &[aria-expanded='true'] ~ .nav-main,
    .main-nav:focus-within {
      display: flex;
      max-height: 100%;
    }
  }

  .ico {
    width: 1rem;
    height: 1rem;
    margin: 0 0 0 5px;
  }

  .nav-item {
    &.open {
      .ico {
        transform: rotate(270deg);
      }
    }

    .nav-main_sub {
      .ico {
        transform: rotate(90deg);

        @include breakpoint($tab) {
          transform: none;
        }
      }

      .open .ico {
        transform: rotate(270deg);

        @include breakpoint($tab) {
          transform: rotate(180deg);
        }
      }
    }
  }
}
