@use '../../../../../../../../../web/themes/custom/nicsdru_corplite_theme/src/scss/init' as *;
@use '../../1_base/root' as *;

.main-menu {
  border: 0;

  @include breakpoint($tab) {
    border-top: 1px solid var(--clr-main-nav-brd-top);
  }
}

.nav-social-wrapper {
  display: inline-block;
  margin-left: 20px;
}

.nav-social {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin-right: 15px;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 1.5em;
      margin-top: 1rem;

      &:hover {
        outline: 3px solid var(--clr-white);
      }

      &:focus {
        outline: 3px solid var(--clr-white);
      }
    }
  }
}

.search-form {
  input[type='submit'] {
    width: 6rem;
    min-width: auto;
    height: 4.5rem;
    min-height: 3.5rem;
    padding: 0;
    margin: 0;
    border-color: var(--clr-button-primary);
    background: #6fb9ff url(../../../images/black-search.svg) 3px center no-repeat;
    background-size: 4.2rem auto;
    text-indent: -9999px;

    &:focus {
      outline: 3px solid #FFFF00;
    }
  }

  input[type='text'] {
    &:focus {
      outline: 3px solid #FFFF00;
    }
  }
}

