<link rel="icon" type="image/png" href="/sites/hseni/themes/hseni_theme/images/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/sites/hseni/themes/hseni_theme/images/favicons/favicon.svg" />
<link rel="shortcut icon" href="/sites/hseni/themes/hseni_theme/images/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/sites/hseni/themes/hseni_theme/images/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="HSENI" />
<link rel="manifest" href="/sites/hseni/themes/hseni_theme/images/favicons/site.webmanifest" />
