/*
 * @file
 * Provides very specific styling for entities / content types.
 */
@use 'sass:math';
@import '../init';

.page-node-type-publication,
.page-node-type-secure-statistics,
.page-node-type-secure-market-statistics,
.page-node-type-news,
.page-node-type-alert,
.page-node-type-consultation,
.page-node-type-article {
  .published-date,
  .field--type-entity-reference {
    --fs-small-text: 1.5rem;
    --lh-small-text: 2.2rem;

    font-size: var(--fs-small-text);
    line-height: var(--lh-small-text);
    margin: 1.8rem 0 0; // Tightens up to the h1.
    color: #4d4d4d;

    @include breakpoint($tab) {
      margin: 2.1rem 0 .7rem;
    };

    @include breakpoint($lap) {
      --fs-small-text: 1.6rem;
      --lh-small-text: 2.4rem;
    }

    @include breakpoint($desk-plus) {
      --fs-small-text: 1.7rem;
      --lh-small-text: 2.5rem;

      margin: 2.5rem 0 1rem;
    };
  }

  .field--type-entity-reference {
    margin-top: 0;
    padding-bottom: 0;
  }

  .file-link {
    margin-bottom: 1.5em;
  }
}

.page-summary > p,
.field-summary {
  $lh: math.div(28, 18);

  --fs-label: 1.8rem;
  --lh: #{$lh};

  font-size: var(--fs-label);
  line-height: var(--lh);
  max-width: $max-content-width;

  @include breakpoint($tab) {
    $lh: math.div(30, 19);

    --fs-label: 1.9rem;
    --lh: #{$lh};
  }

  @include breakpoint($lap) {
    $lh: math.div(35, 21);
    --fs-label: 2.1rem;
    --lh: #{$lh};
  }
}

.article-content {
  *:not(.thwooped-modal, .thwooped) {
    max-width: $max-body-text-width;
  }
}
