/*
 * @file
 * Provides the styling for button components.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Breakpoints ======================================================== */
/* Layout max widths for larger breakpoints =========================== */
.btn,
.button,
#drupal-off-canvas .button {
  --btn-bkgd-clr: #666;
  --btn-brd-clr: tranparent;
  --btn-txt-clr: #fff;
  --btn-fs: 1.6rem;
  --btn-lh: 1.5;
  --btn-min-size: 4.4rem;
  --btn-icon-pad: 2.4rem;
  border: 1px solid var(--btn-bkgd-clr);
  border-radius: 0;
  color: var(--btn-txt-clr);
  display: inline-block;
  font-size: var(--btn-fs);
  line-height: var(--btn-lh);
  text-align: center;
  text-decoration: none;
  background-color: var(--btn-bkgd-clr);
  background-repeat: no-repeat;
  background-position-y: center;
  appearance: none;
  min-width: var(--btn-min-size);
  min-height: var(--btn-min-size);
  padding: 0.8rem 1.2rem;
}
.btn:link, .btn:visited,
.button:link,
.button:visited,
#drupal-off-canvas .button:link,
#drupal-off-canvas .button:visited {
  --btn-txt-clr: var(--clr-white);
}
.btn:focus,
.button:focus,
#drupal-off-canvas .button:focus {
  --btn-bkgd-clr: #525252;
  --btn-brd-clr: #595959;
  outline: 3px solid #000;
}
.btn:hover,
.button:hover,
#drupal-off-canvas .button:hover {
  --btn-bkgd-clr: #595959;
  --btn-brd-clr: #595959;
  text-decoration: none;
}
.btn:active,
.button:active,
#drupal-off-canvas .button:active {
  --btn-bkgd-clr: #525252;
  --btn-brd-clr: #4d4d4d;
  outline: 0;
}
@media (min-width: 768px) {
  .btn,
  .button,
  #drupal-off-canvas .button {
    --btn-min-size: 4.5rem;
    padding: 0.8rem 1.3rem;
  }
}
@media (min-width: 992px) {
  .btn,
  .button,
  #drupal-off-canvas .button {
    --btn-fs: 1.8rem;
    --btn-icon-pad: 2.6rem;
  }
}
@media (min-width: 1679px) {
  .btn,
  .button,
  #drupal-off-canvas .button {
    --btn-fs: 2.0rem;
    --btn-min-size: 5rem;
    --btn-icon-pad: 3rem;
    padding: 0.9rem 1.5rem;
  }
}
.btn-right, .btn-left,
.button-right,
.button-left,
#drupal-off-canvas .button-right,
#drupal-off-canvas .button-left {
  background-image: url("/themes/custom/nicsdru_corplite_theme/images/btn-arrow.svg");
  background-size: var(--btn-fs) auto;
}
.btn-right,
.button-right,
#drupal-off-canvas .button-right {
  background-position: right 4px top 50%;
  padding-right: var(--btn-icon-pad);
}
.btn-left,
.button-left,
#drupal-off-canvas .button-left {
  background-position: left 4px top 50%;
  padding-left: var(--btn-icon-pad);
}
.btn-small,
.button-small,
#drupal-off-canvas .button-small {
  padding: 0.4rem;
  --btn-fs: 1.4rem;
  --btn-lh: 2.2rem;
  --btn-min-size: 3.6rem;
  --btn-icon-pad: 0.8rem;
  --btn-icon-size: 5.33336px;
  --btn-icon-position: 1.3332px;
}
@media (min-width: 768px) {
  .btn-small,
  .button-small,
  #drupal-off-canvas .button-small {
    --btn-min-size: 3.9rem;
    --btn-icon-size: 8.0004px;
    --btn-icon-pad: 1.2rem;
    --btn-icon-position: 1.9998px;
  }
}
@media (min-width: 992px) {
  .btn-small,
  .button-small,
  #drupal-off-canvas .button-small {
    --btn-fs: 1.6rem;
    --btn-lh: 2.4rem;
  }
}
@media (min-width: 1679px) {
  .btn-small,
  .button-small,
  #drupal-off-canvas .button-small {
    --btn-fs: 1.7rem;
    --btn-lh: 2.5rem;
    --btn-min-size: 4rem;
    --btn-icon-pad: 1.4rem;
    --btn-icon-size: 9.33338px;
    --btn-icon-position: 2.3331px;
  }
}
.btn-small-right, .btn-small-left,
.button-small-right,
.button-small-left,
#drupal-off-canvas .button-small-right,
#drupal-off-canvas .button-small-left {
  background-image: url("/themes/custom/nicsdru_corplite_theme/images/btn-arrow.svg");
  background-size: var(--btn-icon-size) auto;
}
.btn-small-right,
.button-small-right,
#drupal-off-canvas .button-small-right {
  background-position: right var(--btn-icon-position) top 50%;
  padding-right: var(--btn-icon-pad);
}
.btn-small-left,
.button-small-left,
#drupal-off-canvas .button-small-left {
  background-position: left var(--btn-icon-position) top 50%;
  padding-left: var(--btn-icon-pad);
}
.btn-medium,
.button-medium,
#drupal-off-canvas .button-medium {
  padding: 0.7rem 1.4rem;
  --btn-fs: 1.8rem;
  --btn-lh: 2.4rem;
  --btn-min-size: 4.8rem;
  --btn-icon-pad: 2.8rem;
  --btn-icon-size: 18.6667px;
  --btn-icon-position: 4.666px;
}
@media (min-width: 768px) {
  .btn-medium,
  .button-medium,
  #drupal-off-canvas .button-medium {
    padding: 0.6rem 1.7rem;
    --btn-min-size: 5.1rem;
    --btn-icon-size: 22.667px;
    --btn-icon-pad: 3.4rem;
    --btn-icon-position: 5.666px;
  }
}
@media (min-width: 992px) {
  .btn-medium,
  .button-medium,
  #drupal-off-canvas .button-medium {
    --btn-fs: 2.1rem;
    --btn-lh: 3rem;
  }
}
@media (min-width: 1679px) {
  .btn-medium,
  .button-medium,
  #drupal-off-canvas .button-medium {
    padding: 0.5rem 2rem;
    --btn-fs: 2.2rem;
    --btn-lh: 3.5rem;
    --btn-min-size: 5.5rem;
    --btn-icon-pad: 4rem;
    --btn-icon-size: 26.668px;
    --btn-icon-position: 6.666px;
  }
}
.btn-medium-right, .btn-medium-left,
.button-medium-right,
.button-medium-left,
#drupal-off-canvas .button-medium-right,
#drupal-off-canvas .button-medium-left {
  background-image: url("/themes/custom/nicsdru_corplite_theme/images/btn-arrow.svg");
  background-size: var(--btn-icon-size) auto;
}
.btn-medium-right,
.button-medium-right,
#drupal-off-canvas .button-medium-right {
  background-position: right var(--btn-icon-position) top 50%;
  padding-right: var(--btn-icon-pad);
}
.btn-medium-left,
.button-medium-left,
#drupal-off-canvas .button-medium-left {
  background-position: left var(--btn-icon-position) top 50%;
  padding-left: var(--btn-icon-pad);
}
.btn-large,
.button-large,
#drupal-off-canvas .button-large {
  padding: 0.7rem 1.6rem;
  --btn-fs: 2.1rem;
  --btn-lh: 3.2rem;
  --btn-min-size: 5.2rem;
  --btn-icon-pad: 3.2rem;
  --btn-icon-size: 21.334px;
  --btn-icon-position: 5.333px;
}
@media (min-width: 768px) {
  .btn-large,
  .button-large,
  #drupal-off-canvas .button-large {
    padding: 0.8rem 1.9rem;
    --btn-min-size: 5.4rem;
    --btn-icon-size: 25.334px;
    --btn-icon-pad: 3.8rem;
    --btn-icon-position: 6.333px;
  }
}
@media (min-width: 992px) {
  .btn-large,
  .button-large,
  #drupal-off-canvas .button-large {
    --btn-fs: 2.4rem;
    --btn-lh: 3.6rem;
  }
}
@media (min-width: 1679px) {
  .btn-large,
  .button-large,
  #drupal-off-canvas .button-large {
    padding: 0.9rem 2rem;
    --btn-fs: 2.5rem;
    --btn-lh: 4rem;
    --btn-min-size: 6rem;
    --btn-icon-pad: 4rem;
    --btn-icon-size: 26.668px;
    --btn-icon-position: 6.666px;
  }
}
.btn-large-right, .btn-large-left,
.button-large-right,
.button-large-left,
#drupal-off-canvas .button-large-right,
#drupal-off-canvas .button-large-left {
  background-image: url("/themes/custom/nicsdru_corplite_theme/images/btn-arrow.svg");
  background-size: var(--btn-icon-size) auto;
}
.btn-large-right,
.button-large-right,
#drupal-off-canvas .button-large-right {
  background-position: right var(--btn-icon-position) top 50%;
  padding-right: var(--btn-icon-pad);
}
.btn-large-left,
.button-large-left,
#drupal-off-canvas .button-large-left {
  background-position: left var(--btn-icon-position) top 50%;
  padding-left: var(--btn-icon-pad);
}
.btn-block,
.button-block,
#drupal-off-canvas .button-block {
  display: block !important;
  width: 100%;
}
.btn--primary,
.button--primary,
#drupal-off-canvas .button--primary {
  --btn-bkgd-clr: #0a78cd;
  --btn-brd-clr: #0a78cd;
}
.btn--primary:hover,
.button--primary:hover,
#drupal-off-canvas .button--primary:hover {
  --btn-bkgd-clr: #096ab5;
  --btn-brd-clr: #096ab5;
}
.btn--primary:active,
.button--primary:active,
#drupal-off-canvas .button--primary:active {
  --btn-bkgd-clr: #0861a6;
  --btn-brd-clr: #085c9c;
}
.btn--primary:focus,
.button--primary:focus,
#drupal-off-canvas .button--primary:focus {
  --btn-bkgd-clr: #0861a6;
  --btn-brd-clr: #096ab5;
}
.btn--action,
.button--action,
#drupal-off-canvas .button--action {
  --btn-bkgd-clr: #048a05;
  --btn-brd-clr: #048a05;
}
.btn--action:hover,
.button--action:hover,
#drupal-off-canvas .button--action:hover {
  --btn-bkgd-clr: #037104;
  --btn-brd-clr: #037104;
}
.btn--action:active,
.button--action:active,
#drupal-off-canvas .button--action:active {
  --btn-bkgd-clr: #036204;
  --btn-brd-clr: #035803;
}
.btn--action:focus,
.button--action:focus,
#drupal-off-canvas .button--action:focus {
  --btn-bkgd-clr: #036204;
  --btn-brd-clr: #037104;
}
.btn--danger,
.button--danger,
#drupal-off-canvas .button--danger {
  --btn-bkgd-clr: #d1431f;
  --btn-brd-clr: #d1431f;
}
.btn--danger:hover,
.button--danger:hover,
#drupal-off-canvas .button--danger:hover {
  --btn-bkgd-clr: #bb3c1c;
  --btn-brd-clr: #bb3c1c;
}
.btn--danger:active,
.button--danger:active,
#drupal-off-canvas .button--danger:active {
  --btn-bkgd-clr: #ad381a;
  --btn-brd-clr: #a53518;
}
.btn--danger:focus,
.button--danger:focus,
#drupal-off-canvas .button--danger:focus {
  --btn-bkgd-clr: #ad381a;
  --btn-brd-clr: #bb3c1c;
}
.btn--warning,
.button--warning,
#drupal-off-canvas .button--warning {
  --btn-bkgd-clr: #bf5803;
  --btn-brd-clr: #bf5803;
}
.btn--warning:hover,
.button--warning:hover,
#drupal-off-canvas .button--warning:hover {
  --btn-bkgd-clr: #a64c03;
  --btn-brd-clr: #a64c03;
}
.btn--warning:active,
.button--warning:active,
#drupal-off-canvas .button--warning:active {
  --btn-bkgd-clr: #974502;
  --btn-brd-clr: #8d4102;
}
.btn--warning:focus,
.button--warning:focus,
#drupal-off-canvas .button--warning:focus {
  --btn-bkgd-clr: #974502;
  --btn-brd-clr: #a64c03;
}
.dropbutton-widget .btn,
.dropbutton-widget .button,
.dropbutton-widget #drupal-off-canvas .button {
  color: var(--clr-charcoal);
}

.call-to-action {
  position: relative;
  padding-right: 3.9rem !important;
}
.call-to-action .ico-arrow-right {
  height: 2.5rem;
  margin-right: 1.2rem;
  position: absolute;
  right: 0;
  top: calc(50% - 1.25rem);
  width: 1.5rem;
}

/*# sourceMappingURL=buttons.css.map */
