$var: #0dd;

h1 {
  color: $var;
}

h2 {
  Font-family: Dosis, Arial, Helvetica, sans-serif
}

h3 {
  COLOR: red;
}

.class {
  color: blue;
}

.dc {
  background: pink;
}

.another {
  font-size: 2rem;
}
