@use '../../../../../../../../../web/themes/custom/nicsdru_corplite_theme/src/scss/init' as *;

.footer {
  padding-top: 3rem;

  @include breakpoint($tab) {
    .container {
      display: grid;
      grid-template-columns: 8fr 1fr;
      grid-gap: 8rem;
    }
  }

  #block-etini-theme-cselogo {
    width: 12rem;
  }
}
