///* =====================================================
// * Styling unique to CKEditor
// * =====================================================*/

/*
 This file compiles all required stylesheets listed in ckeditor-base.scss
 into one CSS file for use in CKEditor with a $base-font-size of 16px.

 It will be autoprefixed with '.ck .ck-content' using postcss into the
 file css/admin/ckeditor-theme.css.
 */

@use '../init' as * with ($rem-px: 0.0625rem, $base-font-size: 16px);
@use '../1_base/root' as *;
@use 'ckeditor-base' as *;
