@use '../init' as *;

$base-font-size: 16px;

.node-form .layout-form {
  display: block;

  @include breakpoint($desk) {
    display: grid;
    grid-template-columns: minmax(45rem, 55rem) minmax(22.5rem, 1fr);

    .layout-region--secondary {
      max-width: 30rem;
    }
  }

  .layout-region--node-main {
    margin-inline: unset;
  }
}

.block-system-main-block {
  .layout-node-form .layout-region__content,
  .layout-form .layout-region__content,
  .department-form {
    .field-group-fieldset {
      &.group-publications {
        > .fieldset__wrapper {
          > .fieldset__description {
            font-size: var(--font-size-m);
          }
        }

      }
    }
  }

  .layout-region--secondary {
    .redirect-table__path {
      width: 60%;
    }

    .redirect-table__operations {
      width: 40%;
    }
  }
}

/*
 * Bump down the font size and adjust the position of the labels when using the core entity reference list form.
 */
.moderation-state {
  font-size: .8rem;
  float: left;
}

.google-map-field-widget {
  &.right {
    float: unset;

    @include breakpoint($tab) {
      float: right;
    }
  }
}
