/*
 * @file
 * Defines the components for the theme.
 */

.section-related {
  margin-top: 4rem;
}

.publication-series .term-section__content a {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.publication-series .term-section__content a:last-child {
  margin-right: 0;
}
