/*
 * @file
 * Defines the components for the theme.
 */

@use '../../../../../../../../../web/themes/custom/nicsdru_corplite_theme/src/scss/init' as *;

.publication-series__type {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  color: #4d4d4d;

  @include breakpoint($lap) {
    font-size: 1.6rem;
  }

  @include breakpoint($desk-plus) {
    font-size: 1.7rem;
  }
}

.historical-reports {
  h3.card__title {
    margin: 0
  }
  .card__meta {
    margin-bottom: 2rem;
  }
}

.publication-series-links {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.publication-related {
  h3.card__title {
    margin: 0;
    font-size: 1.8rem;
  }
  .card__meta {
    margin-bottom: 2rem;
  }

  p.published-date {
    margin: 0.5rem 0 2rem !important;
  }
}
