#block-views-block-content-last-updated-content-last-updated,
#block-views-block-taxonomy-last-updated-taxonomy-last-updated {
  max-width: 30rem;

  .modified-date {
    --fs: 1.6rem;
    font-size: var(--fs);
  }
}
