@use '../../../../../../../../../web/themes/custom/nicsdru_corplite_theme/src/scss/init' as *;

#block-nisra-theme-publishedreleasesintrotext {
  @include breakpoint($tab) {
    max-width: 76rem;
  }
}

.card-deck--search-results .card__meta > .card__meta-item {
  display: block !important;
  margin-right: 0;
  margin-bottom: 0.25em;
}
