/**
 * @file
 * Provides the layout links to downloadable files.
 */
@use 'sass:math';
@use '../../init' as *;

// File links
//
// It is common to link to downloadable non-html files. When such a link is provided from a fielded entity, there is a
// custom formatter provided in the nics origins_common module that handles the mark up and output of the link in order
// that useful classes and attributes are provided to the an end user and user agents.
//
// Style guide: components.file-links

.file {
  &-link {
    $lh: math.div(28, 18);

    --fs-label: 1.8rem;
    --lh: #{$lh};

    font-size: var(--fs-label);
    line-height: var(--lh);

    @include breakpoint($tab, $no-query: true) {
      $lh: math.div(30, 19);

      --fs-label: 1.9rem;
      --lh: #{$lh};
    }

    @include breakpoint($lap, $no-query: true) {
      $lh: math.div(33, 20);

      --fs-label: 2rem;
      --lh: #{$lh};
    }

    @include breakpoint($desk, $no-query: true) {
      $lh: math.div(35, 21);
      --fs-label: 2.1rem;
      --lh: #{$lh};
    }

    &--simple {
      font-size: var(--fs-base-size);
      line-height: 1.5;
      margin: 1em 0 1.5em;
    }

    &.file--ico {
      display: block;
      min-height: 5rem;
      padding-left: 5rem;
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .meta {
      $lh: math.div(22, 15);

      --fs-label: 1.5rem;
      --lh: #{$lh};

      display: block;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #4d4d4d;
      margin: var(--rhythm-spacing-xs) 0;

      @include breakpoint($lap, $no-query: true) {
        $lh: math.div(24, 16);

        --fs-label: 1.6rem;
        --lh: #{$lh};
      }

      @include breakpoint($desk, $no-query: true) {
        $lh: math.div(25, 17);
        --fs-label: 1.7rem;
        --lh: #{$lh};
      }
    }

    &:focus {
      background-color: var(--clr-link);
      color: #fff;
      outline: 5px solid var(--clr-link);
      text-decoration: none;

      .meta {
        color: #fff;
      }
    }
  }
}

@mixin file-icons($scale: 1, $margin: 0) {
  $icon-scale: $scale;
  $icon-row: 0;
  $icon-width: 35px * $icon-scale;
  $icon-height: 50px * $icon-scale;
  $icon-margin: $margin;
  $icon-size-x: 785px * $icon-scale;
  $icon-size-y: 105px * $icon-scale;
  $icon-column-size: 75px * $icon-scale;
  $icon-row-size: 55px * $icon-scale;

  &::before {
    content: '';
    display: inline-block;
    width: $icon-width;
    height: $icon-height;
    margin: $icon-margin;
    background: transparent url("../../../images/nigov-file-icons.svg") no-repeat;
    background-position-x: -($icon-column-size * 10);
    background-position-y: -($icon-row-size * $icon-row);
    background-size: $icon-size-x $icon-size-y;
  }

  &__word::before,
  &__doc::before,
  &__docx::before,
  &__dot::before {
    background-position-x: -($icon-column-size * 0);
  }

  &__pdf::before {
    background-position-x: -($icon-column-size * 1);
  }

  &__excel::before,
  &__xls::before,
  &__xlsx::before,
  &__xlsm::before {
    background-position-x: -($icon-column-size * 2);
  }

  &__powerpoint::before,
  &__ppt::before,
  &__pptx::before,
  &__pptm::before {
    background-position-x: -($icon-column-size * 3);
  }

  &__opendocument-text::before,
  &__odt::before {
    background-position-x: -($icon-column-size * 4);
  }

  &__opendocument-spreadsheet::before,
  &__ods::before {
    background-position-x: -($icon-column-size * 5);
  }

  &__opendocument-presentation::before,
  &__odp::before {
    background-position-x: -($icon-column-size * 6);
  }

  &__csv::before {
    background-position-x: -($icon-column-size * 7);
  }

  &__zip::before {
    background-position-x: -($icon-column-size * 8);
  }

  &__html::before {
    background-position-x: -($icon-column-size * 9);
  }
}

.file--ico {
  @include file-icons(1);
}

.media-library-views-form {

  .file--media-library-preview {
    text-align: center;
  }

  .media-library-item--grid {

    .field--name-thumbnail {
      background-color: #000;

      img {
        height: 110px;
        object-fit: contain;
        object-position: center center;
        margin: 35px 0;
      }
    }

    .media-remote_video .field--name-thumbnail img {
      margin: 15px 0;
      height: 150px;
    }

    .file--media-library-preview {
      background-color: #ebebeb;
      padding: 5px;
    }

    .file--ico {
      @include file-icons(2, 35px 0);
    }

    .media-library-item__status {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 0 5px;
      color: red;
      background: rgba(255, 255, 255, .85);
      box-shadow: 0 3px 9px -3px rgba(0, 0, 0, .3);
      font-size: 15px;
      font-style: normal;
      font-weight: bold;
      width: auto;
      height: auto;
      box-sizing: border-box;
      line-height: 25px;
      text-align: center;
      transform: translateX(-50%) translateY(-100%);
      text-transform: uppercase;
    }
  }

  .views-field-thumbnail__target-id {
    text-align: center;
  }

  .media-remote_video::before {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 17px));
    color: #fff;
    background: rgba(0,0,0,.5) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><g><rect fill="none" height="24" width="24"/></g><g><path d="M12,2C6.48,2,2,6.48,2,12s4.48,10,10,10s10-4.48,10-10S17.52,2,12,2z M9.5,16.5v-9l7,4.5L9.5,16.5z"/></g></svg>') center center no-repeat;
    background-size: 40px auto;
    border-radius: 20px;
    opacity: .75;
  }
}
