/*
 * @file
 * Provides the layout styles for the footer area.
 */
@use '../../init' as *;

.footer {
  width: 100%;
  background-color: var(--clr-grey-light);
  // Trick to make footer background-color extend to very bottom
  // of viewport on short pages.
  box-shadow: 0 50vh 0 50vh var(--clr-grey-light);
  padding: 0 0 4.5em;
  margin-top: 3em;
  border-top: 5px solid var(--clr-brand-primary);

  .nav {
    &-menu {
      @include breakpoint($lap) {
        margin-bottom: 0;
      }
    }

    &-social {
      grid-area: social;
    }
  }
}
