@use '../../../../../../../../../web/themes/custom/nicsdru_corplite_theme/src/scss/init' as *;

#block-footerlinks > ul {
  > p,
  > li {
    font-size: 1.7rem;
    line-height: 2.7rem;
    margin: 0 0.5em var(--rhythm-spacing-sm) 0;
    padding: 0 0.5em 0 0;
    box-shadow: 5px 0 0 -4px;
  }

  > li:last-child {
    box-shadow: none;
  }
}


