@use '../../../../../../../../../web/themes/custom/nicsdru_corplite_theme/src/scss/init' as *;

.footer {
  @include breakpoint($tab) {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 8rem;

      :last-child {
        grid-column: 1 / -1;
      }
    }
  }
}
