/*
 * @file
 * Provides the styling for list components.
 */
.list {
  &--no-bullet {
    list-style: none;
    padding: 0;
  }

  li,
  &-item {
    .list--inline & {
      display: inline-block;
      padding-right: .334em;
      white-space: nowrap;
    }
  }

  &--hyphen-bullet {
    list-style: none;
    padding: 0;

    li {
      position: relative;
      padding-left: 1em;

      &::before {
        content: '-';
        position: absolute;
        left: 0;
      }
    }
  }
}
